.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#friend-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 7px;

    width: 100%;
}

#friend-dropdown {
    width: 100%;
}