#nav-logo {
  color: whitesmoke;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px #505153;


  font-weight: bold;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand img {
  padding: 7px 14px;
  width: 100px;
  height: 100%;
}

.navbar {
  padding: 0;
  -webkit-box-shadow: 0px 11px 15px -9px rgba(117, 117, 117, 0.61);
  box-shadow: 0px 11px 15px -9px rgba(117, 117, 117, 0.61);
}

#basic-navbar-nav {
  width: 100%;
}

.navbar .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}



#basic-navbar-nav {
  font-family: 'Roboto Slab', serif;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

@media screen and (min-width: 800px) {

  .row-cols-md-3 {
    width: 100%;
  }

  .mb-4.col {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {

  #basic-navbar-nav {

    width: 100%;

  }
}