
.row-cols-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
}

.card-img-top {
    height: 100%;
    grid-column: 1 / span 1;
}

.card-body {
    grid-column: 2 / span 1;
}

span {
    font-size: .75rem;
    margin-right: 0px;
}

@media screen and (min-width: 768px) {
    
    .row-cols-md-3 {
        width:100%;
    }
    .mb-4.col{
        width: 100%;
    }
}